@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<MailChimp.Models.Games>

@foreach (var Games in Model)
{
    <div>
        <p>@Html.DisplayFor(n => Games.id)</p>
        <p>@Html.DisplayFor(n => Games.name)</p>
        <p>@Html.DisplayFor(n => Games.summary)</p>
        <p>@Html.DisplayFor(n => Games.rating)</p>
    </div>
}